{
  "openapi": "3.0.0",
  "info": {
    "title": "CHAI API",
    "description": "Interface for the CHAI Social AI platform.",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://api.chai-research.com/v1"
    }
  ],
  "components": {
    "securitySchemes": {
      "ApiKeyAuth": {
        "type": "apiKey",
        "in": "header",
        "name": "X-API_KEY"
      }
    }
  },
  "paths": {
    "/chat/completions": {
      "post": {
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "summary": "Create a chat completion",
        "description": "Generates a response based on a conversation between the user and the AI.",
        "operationId": "createChatCompletion",
        "tags": [
          "Chat"
        ],
        "requestBody": {
          "description": "Input data to generate a chat completion.",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "model": {
                    "type": "string",
                    "description": "The model ID to use for the completion.",
                    "default": "chai_v1"
                  },
                  "messages": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "role": {
                          "type": "string",
                          "enum": [
                            "user",
                            "ai"
                          ],
                          "description": "Role of the message sender."
                        },
                        "content": {
                          "type": "string",
                          "description": "Content of the message."
                        }
                      }
                    }
                  },
                  "max_tokens": {
                    "type": "integer",
                    "description": "The maximum number of tokens to generate."
                  },
                  "temperature": {
                    "type": "number",
                    "description": "Sampling temperature between 0 and 1."
                  }
                },
                "required": [
                  "model",
                  "messages"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "description": "The ID of the chat completion."
                    },
                    "object": {
                      "type": "string",
                      "description": "The object type."
                    },
                    "created": {
                      "type": "integer",
                      "description": "Timestamp of when the chat completion was created."
                    },
                    "model": {
                      "type": "string",
                      "description": "The model used for the completion."
                    },
                    "choices": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "index": {
                            "type": "integer",
                            "description": "The choice index."
                          },
                          "message": {
                            "type": "object",
                            "properties": {
                              "role": {
                                "type": "string"
                              },
                              "content": {
                                "type": "string"
                              }
                            }
                          },
                          "finish_reason": {
                            "type": "string"
                          }
                        }
                      }
                    },
                    "usage": {
                      "type": "object",
                      "properties": {
                        "prompt_tokens": {
                          "type": "integer"
                        },
                        "completion_tokens": {
                          "type": "integer"
                        },
                        "total_tokens": {
                          "type": "integer"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "x-readme": {
    "explorer-enabled": true,
    "proxy-enabled": true
  }
}